@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2");
}

body, textarea, input {
  font-family: "San Francisco";
}

label {
  margin-top: 1em;
  margin-bottom: 1em;
  display:block;
}

form {
  margin: 0 auto;
  width: 500px;
}

input[type="submit"]{
  display:block;
  margin-top: 10px;
  width: 100%;
}

textarea {
  width: 100%;
  display: block;
}
